html {
	background-image: url(C:/Users/STIVE/Desktop/batman/Bathome1.png);
    background-color: #000000;
    background-size: contain;
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
}

body {
    padding-left: 102px;
    padding-right: 102px;
}

header h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: right;
}

h2 a {
    color: inherit;
}

header img {
    float: left;
}

.navig {
    position: fixed;
    right: 102px;
}

button {
    font-family: 'Rajdhani', sans-serif;
    font-weight: medium;
    background-color:  #eddebf41;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    color: inherit;
}

#fleche {
    display: block;
    margin: 132px auto;
}

figcaption {
	color: #FFFFFF;
}

header p {
    text-align: center;
    margin-top: 132px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
}

section p {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 18px;
    text-align: left;
}

 section h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

p, h1, h2, blockquote {
	color: #FFFFFF;
	text-align: center;
}

footer {
	margin: 0 auto;
}


h1 {
	size: 36px;
	text-transform: uppercase;
	text-align: left;
}


ul {
	list-style-type: none;
}

#home {
	text-decoration: underline;
	text-align: right;
}

figure {
	display: inline-block;
}


#fleche {
	margin: 132px auto;
}

main {
	margin: 132px auto;
}

.div {
    display: flex;
    align-items: center; /* Pour centrer verticalement */
    height: 100px;
}

.button-left, .button-right {
    padding: 10px 20px;
    background-color: #C4C4C4;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button-left:hover, .button-right:hover {
    background-color: #EDDEBF;
    color: #C4C4C4;
}

.character-card:hover {
    transform: scale(1.1); /* Zoom de 10% */
}